.header {
  display: flex
}

.headerlinks {
   min-width: 600px;
   display: flex;
   justify-content: space-between;
   margin: 10px;
   /* display: none; */
}

.headerlinks a {
    color: #525254
}

.bmBurgerButton {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }

  .bmBurgerBars {
    background: '#373a47'
  }
  .bmBurgerBarsHover {
    background: '#a90000'
  }


/* @media screen and (min-width: 1200px){
    .headerlinks {
        display: flex;
    }
} */