html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  color: #009AA8;
}

img {
  max-width: 100%;
  display: block;
}

h1, h2, h3, p, a {
  color: #525254;
  font-family: 'Domine'
}
h1, h2, h3 {
  font-family: 'Domine'
}

p, a {
  font-family: 'Sen'
}

h1, h2 {
  font-size: 49px;
  font-weight: 700;
}

h3 {
  font-size: 32px;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
